<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PrismReController.Shared.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PrismReController.Shared.Properties.Settings>
            <setting name="VlcPort" serializeAs="String">
                <value>8088</value>
            </setting>
            <setting name="VlcPassword" serializeAs="String">
                <value>vlc</value>
            </setting>
            <setting name="ConnectionRetryCount" serializeAs="String">
                <value>100</value>
            </setting>
        </PrismReController.Shared.Properties.Settings>
    </userSettings>
</configuration>